@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.drawerA {
  .MuiPaper-root {
    width: calc(5 * $grid-9x);
  }

  h4{
    background-color: $violet;
    color:$white;
    padding: $grid-2x;
    font-size: 1.3rem;
  }

  .formWrapper{
    padding: $grid-3x $grid-2x;

    .cancel-btn{
        margin-left:$grid-2x;
    }
  }
}

.blockA{
  @include boxShadow(0 0 4px $grey700);

  .MuiIconButton-root{
    &.edit-btn{
      background-color: $tertiary;
      color:$white;
      margin-right:$grid-1x;
    }
    &.delete-btn{
      background-color: $red300;
      color:$white;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-desktop) {
  .homeBanner {
    padding: $grid-5x 0;
    .pageTitle {
      margin-bottom: $grid-3x;
      font-size: 4rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-normal-desktop) {
  .homeBanner {
    padding: $grid-8x 0;
    .pageTitle {
      margin-bottom: $grid-3x;
      font-size: 5rem;
    }
  }
}
