@import "./variables.scss";
@import "./colors";
@import "./mixins";

.date-calendar {
  border: 1px solid $green750;
  background-color: $white500;
  margin: $grid-2x auto $grid-1x;
  @include roundCorner($grid-1x);
  max-width: calc(43.75 * $grid-1x);
  padding: calc($grid-1x/2) calc($grid-1x) $grid-2x;
  width: 92%;
  position: relative;

  &.prefrence-cal {
    .MuiDateCalendar-root {
      overflow: hidden;
      .MuiDayCalendar-root {
        overflow-y: hidden;
        .MuiPickersSlideTransition-root {
          overflow-x: unset;
          .MuiDayCalendar-monthContainer {
            .MuiDayCalendar-weekContainer {
              button {
                &:not([aria-colindex="1"]) {
                  position: relative;
                  ::before {
                    content: "";
                    position: absolute;
                    border-top: 1px solid $primary-text;
                    top: calc(50% - 1px);
                    left: 50%;
                    width: 57%;
                    transform: translateX(-50%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.hasError {
    .MuiDateCalendar-root {
      .MuiPickersCalendarHeader-root {
        margin-bottom: calc($grid-7x - 3px);
      }
    }
  }

  &.hasError2 {
    .MuiDateCalendar-root {
      .MuiPickersCalendarHeader-root {
        margin-bottom: calc($grid-7x + 38px);
      }
    }
  }

  &.hasError3 {
    .MuiDateCalendar-root {
      .MuiPickersCalendarHeader-root {
        margin-bottom: calc($grid-4x + 4px);
      }
    }
  }

  // latest calender changes
  .MuiMonthCalendar-root {
    width: 100%;
    border: 1px solid #d9ece6;
    background-color: white;
    border-radius: 8px 8px 0px 0px;

    .MuiPickersMonth-monthButton.Mui-selected {
      background-color: $green900;
      border: 1px solid $green300;
      border-radius: 7px;
      color: $green300;
    }
  }
  .MuiDateCalendar-root {
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: calc($grid-1x * 33.25);

    .MuiPickersCalendarHeader-root {
      position: relative;
      margin-top: calc($grid-1x/2);

      .MuiPickersCalendarHeader-labelContainer {
        margin: 0 auto;

        .MuiPickersCalendarHeader-label {
          font-family: $SodoSansSemiBold;
          font-size: 1.071rem;
          color: $primary-text;
        }

        button {
          padding: 0;
          svg {
            font-size: 2rem;
            color: $primary-text;
          }
        }
      }

      .MuiPickersArrowSwitcher-root {
        .MuiIconButton-edgeEnd,
        .MuiIconButton-edgeStart {
          position: absolute;
          top: 0;
          bottom: 0;
          font-size: 2rem;
          color: $primary-text;
          background-color: transparent;
        }

        .MuiIconButton-edgeEnd {
          left: 0;
        }

        .MuiIconButton-edgeStart {
          right: 0;
        }
      }
    }

    .MuiDayCalendar-root {
      overflow-y: hidden;
      .MuiDayCalendar-header {
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        span {
          font-size: 1rem;
          color: $primary-text-hover;
          font-family: $SodoSans;
          height: $grid-4x;
        }
      }

      .MuiPickersSlideTransition-root {
        overflow-x: unset;
        min-height: calc($grid-1x * 26.375);

        .MuiDayCalendar-monthContainer {
          @include roundCorner($grid-1x);
          background-color: $white;
          width: 92%;
          margin: 2px auto;
          padding: calc($grid-1x/2);

          .MuiDayCalendar-weekContainer {
            width: 97%;
            margin: calc($grid-1x/2) auto;
            justify-content: space-between;
            button {
              font-size: 1.071rem;
              color: $primary-text;
              font-family: $SodoSans;

              &[aria-current="date"] {
                border: 0;
              }

              &.Mui-disabled {
                color: $black500;
              }

              &[aria-selected="true"] {
                background-color: $green900;
                border: 1px solid $green300;
                color: $green300;
              }

              &.strikeDays {
                ::before {
                  content: "";
                  position: absolute;
                  border-top: 1px solid $primary-text;
                  top: calc(50% - 1px);
                  left: 50%;
                  width: 57%;
                  transform: translateX(-50%);
                }
              }

              &.green-days {
                background-color: $green900;
                position: relative;
                @include roundCorner(0);

                &.green-day-0 {
                  border-radius: 50% !important;
                  color: $green300;
                  z-index: 2 !important;
                  &::after {
                    left: 73% !important;
                    top: -3% !important;
                    width: calc($grid-3x - 2px) !important;
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    width: calc($grid-4x + 2px);
                    height: calc($grid-4x + 3px);
                    border: 1px solid $green300;
                    border-radius: 50%;
                    left: -2%;
                    top: -3%;
                    z-index: 3;
                  }
                }

                &.green-day-second-last {
                  &::after {
                    left: 97% !important;
                  }
                }

                &.green-day-last {
                  border: 1px solid $green300;
                  border-radius: 50% !important;
                  color: $green300;
                  z-index: 2 !important;
                  &::after {
                    display: none;
                  }
                }
                &.green-day-Beforelast {
                  border-radius: 50% !important;
                  color: $green300;
                  z-index: 2 !important;
                  &::after {
                    display: none;
                  }
                  &::before {
                    content: "" !important;
                    position: absolute !important;
                    width: calc($grid-4x - 2px) !important;
                    height: calc($grid-4x + 2px) !important;
                    border-radius: 50% !important;
                    left: -1% !important;
                    top: -3% !important;
                    z-index: 3 !important;
                  }
                }

                &:first-child {
                  @include roundCorner($grid-2x 0 0 $grid-2x);
                }
                &:last-child {
                  @include roundCorner(0 $grid-2x $grid-2x 0);
                }

                &:not([aria-colindex="7"]) {
                  &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 100%;
                    z-index: 1;
                    @include roundCorner(0);
                    background-color: $green900;
                    width: calc($grid-1x + 5px);
                    height: calc($grid-4x + 4px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // latest calender changes
  .MuiYearCalendar-root {
    width: 100%;
    border: 1px solid #d9ece6;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    margin: -15px 0px;

    .MuiPickersYear-yearButton.Mui-selected {
      background-color: $green900;
      border: 1px solid $green300;
      border-radius: 7px;
      color: $green300;
    }
  }

  .warning-tip {
    background-color: $red600;
    @include roundCorner($grid-1x);

    position: absolute;
    top: $grid-5x;
    left: calc($grid-2x - 2px);
    padding: $grid-1x;
    width: calc(100% - $grid-8x + 20px);

    img {
      width: calc($grid-2x + 2px);
      margin: 2px 5px 0px 1px;
    }

    span {
      color: $error-text;
      margin-left: calc($grid-1x/4 - 1px);
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-mobile) {
  .date-calendar {
    &.hasError {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: calc($grid-7x + 4px);
        }
      }
    }
    &.hasError3 {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: calc($grid-4x + 4px);
        }
      }
    }

    &.hasError {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: calc($grid-7x - 3px);
        }
      }
    }

    &.hasError2 {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: calc($grid-9x + 8px);
        }
      }
    }

    &.left-cal {
      margin-left: 0;
    }

    &.right-cal,
    &.right-cal-1 {
      margin-right: 0;
    }
    .warning-tip {
      top: calc($grid-5x + 3px);
      left: calc($grid-2x - 2px);
      width: calc(100% - $grid-9x + 27px);
      img {
        width: calc($grid-3x - 2px);
      }

      &.case-2 {
        img {
          width: calc($grid-5x + 1px);
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-desktop) {
  .date-calendar {
    .MuiDateCalendar-root {
      overflow: hidden;
      .MuiPickersCalendarHeader-root {
        .MuiPickersCalendarHeader-labelContainer {
          .MuiPickersCalendarHeader-label {
            font-size: 1rem;
          }
        }
      }

      .MuiDayCalendar-root {
        overflow-y: hidden;
        .MuiDayCalendar-header {
          span {
            font-size: 1rem;
          }
        }

        .MuiPickersSlideTransition-root {
          overflow-x: unset;
          .MuiDayCalendar-monthContainer {
            .MuiDayCalendar-weekContainer {
              button {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }

    .warning-tip {
      span {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-normal-desktop) {
  .date-calendar {
    max-width:calc(40.5 * $grid-1x);
    margin-top: calc($grid-3x + 4px);
    padding: calc($grid-1x + 2px) calc($grid-2x - 4px) calc($grid-2x + 4px);

    &.prefrence-cal {
      .MuiDateCalendar-root {
        overflow: hidden;
        .MuiDayCalendar-root {
          overflow-y: hidden;
          .MuiPickersSlideTransition-root {
            overflow-x: unset;
            .MuiDayCalendar-monthContainer {
              .MuiDayCalendar-weekContainer {
                button {
                  &:not([aria-colindex="1"]) {
                    position: relative;
                    ::before {
                      top: calc(50%);
                      width: 75%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.hasError {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: $grid-8x;
        }
      }
    }

    &.hasError2 {
      .MuiDateCalendar-root {
        .MuiPickersCalendarHeader-root {
          margin-bottom: calc($grid-9x + 16px);
        }
      }
    }
    .MuiDateCalendar-root {
      overflow: hidden;
      min-height: calc($grid-1x * 40);
      max-height: max-content;
      .MuiPickersCalendarHeader-root {
        .MuiPickersCalendarHeader-labelContainer {
          .MuiPickersCalendarHeader-label {
            font-size: 0.889rem;
          }
        }

        .MuiPickersArrowSwitcher-root {
          .MuiIconButton-edgeEnd,
          .MuiIconButton-edgeStart {
            font-size: 1.3rem;
          }
        }
      }

      .MuiDayCalendar-root {
        overflow-y: hidden;
        .MuiDayCalendar-header {
          span {
            font-size: 0.889rem;
          }
        }

        .MuiPickersSlideTransition-root {
          overflow-x: unset;
          min-height: calc($grid-1x * 27.5);
          .MuiDayCalendar-monthContainer {
            .MuiDayCalendar-weekContainer {
              margin: $grid-1x auto;
              button {
                padding-top: calc($grid-1x/2);

                &.strikeDays {
                  ::before {
                    top: calc(50%);
                    width: 75%;
                  }
                }

                &.green-days {
                  &:not([aria-colindex="7"]) {
                    &::after {
                      width: calc($grid-2x - 2px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .warning-tip {
      top: calc($grid-5x + 3px);
      left: calc($grid-3x - 3px);
      width: calc(100% - $grid-9x + 15px);
      img {
        width: calc($grid-3x - 2px);
      }
      span {
        font-size: 0.889rem;
      }

      &.case-2 {
        img {
          width: calc($grid-5x + 1px);
        }
      }
    }
  }
}