/*----| Red |----*/
$red: #b71c1c;
$red100: #df4439;
$red200: #f8584d;
$red300: #fc675c;
$red400: #f76d63;
$red500: #ff6a67;
$red600: #f78b6a;
$red700: #fcd7cd;
$red800: #ef9a9a;
$red900: #e57373;

/*----| Green |----*/
$green: #1E3832;
$green100: #004F35;
$green200: #006241;
$green300: #00754A;
$green400: #008d5B;
$green500: #08a36a;
$green600: #0cc783;
$green650: #95CC76;
$green700: #bfe0ad;
$green750: #D4E9E2;
$green800: #d2ebe0;
$green900: #e8f4ee;
$green950: #f6fbf9;
$darkgreen: #1B4A22;


/*----| Blue |----*/
$blue: #064163;
$blue100: #005a8a;
$blue200: #1bbad2;
$blue300: #1cbed6;
$blue400: #1dc6df;
$blue500: #2196f3;
$blue600: #42a5f5;
$blue700: #64b5f6;
$blue800: #90caf9;
$blue900: #bbdefb;

/*----| Yellow |----*/
$yellow: #efc60d;
$yellow100: #e9c41f;
$yellow300: #f7d87d;
$yellow400: #fae8b1;

/*----| Orrange |----*/
$orange: #ffa800;
 

/*----| Black |----*/
$black: #000;
$black100: #0d0c0c;
$black200: #161616;
$black300: #212121;
$black400: #525252;
$black500: #555555;
$black600: #5f5f5f;
$black700: #CECECE;

/*----| White |----*/
$white: #fff;
$white100: #dadada;
$white200: #d9d9d9;
$white300: #f0f0f0;
$white400: #e7e7e7;
$white500: #F9F9F9;

/*----| Black |----*/
$grey: #808080;
$grey100: #9d9c9c;
$grey200: #bfbdbd;
$grey300: #F3F5F8;


/*----| Primary |----*/
$primary: $blue400;
$primary-hover: $orange;
$primary-text: $black500;
$primary-text-hover: $blue400;


/*----| Secondary |----*/
$secondary: $grey300;
$secondary-hover: $blue400;
$secondary-text: $black300;
$secondary-text-hover: $white200;

/*----| Success |----*/
$success: $green300;
$success-hover: $blue400;
$success-text: $white;
$success-text-hover: $white200;


/*----| Warning |----*/
$warning: $orange;
$warning-hover: $blue400;
$warning-text: $white;
$warning-text-hover: $white200;




/*----| Error |----*/
$error:$red700;
$error-text:$red;
$error-hover:$red;
$error-text-hover:$red700;



/*----| Info |----*/


/*----| Tertieary |----*/


