@import "./variables.scss";
@import "./colors";
@import "./mixins";

.drawer {
  .date-wrapper {
    border: 1px solid $white400;
    padding: calc($grid-2x - 3px) $grid-1x;
    @include roundCorner($grid-1x);
    position: relative;
    color: $primary-text;

    &.half-width {
      width: calc(50% - $grid-2x - 4px);
    }

    .mr-half {
      margin-right: calc($grid-1x / 2);
    }

    svg {
      color: $primary;
      width: calc($grid-2x + 4px);
      height: calc($grid-2x + 4px);
    }

    &.active {
      border: 1px solid $green750;
      &::before {
        content: "";
        position: absolute;
        border: solid $green750;
        top: calc($grid-7x + 1px);
        right: $grid-2x;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-135deg);
        background-color: $white500;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc($grid-8x - 1px);
        right: calc($grid-2x - 1px);
        border: solid $white500;
        border-width: 0 0 1px;
        display: inline-block;
        width: calc($grid-2x - 3px);
        z-index: 2;
      }
      svg {
        color: $secondary-focus;
      }
    }

    &.startDateBorder {
      border: 1px solid $green750;
    }
  }

  .date-header {
    background-color: $white;
    border: 1px solid $green750;
    padding: $grid-1x;
    @include roundCorner($grid-1x);

    &.disable{
      pointer-events: none;
    }
  }

  button.next-btn,
  button.Preference-next-btn {
    width: 100%;
    margin: calc($grid-2x + 4px) 0 calc($grid-1x/2);
    padding: $grid-1x 0;
    font-size: 1.071rem;

    &[disabled] {
      background-color: $white400;
      color: $primary-text-hover;
    }
  }

  .MuiDivider-vertical {
    height: calc($grid-2x + 4px);
    border-left: 1px solid $primary-text-hover;
    margin: $grid-1x ($grid-1x + 4px) 0;
    border-right: none;

    &.active {
      border-left: 1px solid $primary-text;
    }
  }

  .add-request-section {
    .request-condition {
      padding: calc($grid-1x/2) 0 $grid-1x;
      color: $primary-text-hover;
    }

    .request-content {
      border: 1px solid $green750;
      background-color: $white500;
      padding: $grid-1x;
      @include roundCorner($grid-1x);
      margin: $grid-1x 0 calc($grid-3x + 6px);

      &.active {
        border: 1px solid $green400;
      }

      .copy-data {
        padding: 0 0 calc($grid-1x/2);
        color: $primary-text;

        .check-item {
          .MuiCheckbox-root {
            color: $black500;
            padding: calc($grid-1x - 2px) calc($grid-1x) calc($grid-1x - 2px)
              0;

            svg {
              font-size: 1.8rem;
            }

            &.Mui-checked {
              color: $secondary;
            }
          }
        }
      }

      .avg-hours {
        font-family: $SodoSansSemiBold;
        color: $primary;
      }

      .day-wrapper {
        border: 1px solid $grey500;
        @include roundCorner($grid-1x);
        margin: 0 0 calc($grid-1x + 4px);
        background-color: $white;
        @include boxShadow(0px 1px 3px 0px $grey400);

        &.active {
          border: 1px solid $green400;
          @include boxShadow(none);

          .day-item {
            border: 1px solid $green400;
            background-color: $green750;
            margin: -1px 0px -1px -1px;
          }
        }

        .day-item {
          border: 1px solid $grey500;
          color: $primary-text;
          @include roundCorner(
            calc($grid-1x - 2px) $grid-1x $grid-1x calc($grid-1x - 2px)
          );
          padding: $grid-1x;
          background-color: $white500;
          width: calc($grid-4x - 1px);
          margin: -1px 0px -1px -1px;
        }

        .day-action {
          width: calc(100% - $grid-7x - 1px);
          padding: calc($grid-2x - 2px) calc($grid-1x/2) $grid-1x;

          .day-hours {
            color: $primary-text-hover;
          }

          .switch-wrapper {
            margin: calc($grid-1x + 2px) 0;

            .switch-label {
              color: $primary-text-hover;
              font-family: $SodoSans;
              margin-left: calc($grid-1x/2);
            }
          }

          .time-wrapper {
            margin: calc($grid-1x - 2px) 0;

            .time-section {
              width: calc(100% - $grid-4x);

              .timer-picker {
                width: calc(50% - $grid-1x - 4px);

                .MuiSelect-select {
                  color: $primary-text-hover;
                  font-family: $SodoSans;
                  padding: calc($grid-1x + 3px) calc($grid-2x + 4px)
                    calc($grid-1x + 3px) $grid-1x;
                }

                fieldset {
                  @include roundCorner($grid-1x);
                  border: 1px solid $grey500;
                }
              }

              .time-divider {
                margin: 0 calc($grid-1x - 5px);
                width: calc($grid-2x + 2px);
                background: url("../styles/assets/svg/arrow-line-sm.svg")
                  no-repeat;
                background-position: right 0;
                background-size: calc($grid-2x + 2px) calc($grid-2x - 3px);
                height: calc($grid-2x - 2px);
              }
            }

            .MuiTextField-root {
              min-width: auto;
            }

            .remove-time {
              color: $primary-text;
              padding: calc($grid-1x/2);

              svg {
                font-size: 1.8rem;
              }
            }
          }

          .add-more-time {
            color: $primary-text;
            padding: calc($grid-1x/2);

            svg {
              font-size: 1.8rem;
            }
          }
        }
      }

      .comment {
        position: relative;
        margin: $grid-1x 0;

        .optional {
          color: $primary-text-hover;
          position: absolute;
          bottom: calc($grid-1x + 2px);
          left: calc($grid-1x + 2px);
        }

        .characters-left {
          color: $primary-text-hover;
          position: absolute;
          bottom: calc($grid-1x + 2px);
          right: calc($grid-1x + 2px);
        }

        .text-area {
          @include roundCorner($grid-1x);
          padding: $grid-1x;
          background-color: $white;
          border: 1px solid $black700;
          resize: none;
          font-size: 1rem;

          &::placeholder {
            color: $primary-text-hover;
            font-family: $SodoSansLight;
          }

          &:focus {
            outline: none;
            border-color: $black500;
          }
        }
      }
    }
  }

  button.submit-btn {
    width: 100%;
    padding: calc($grid-1x) 0;
    font-size: 1.071rem;
    margin: calc($grid-5x + 6px) 0;

    &[disabled] {
      background-color: $white400;
      color: $primary-text-hover;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-mobile) {
  .drawer {
    .date-wrapper {
      &.half-width {
        width: calc(50% - $grid-3x);
      }
    }

    .add-request-section {
      .request-content {
        padding: $grid-1x calc($grid-1x + 4px);

        .day-wrapper {
          .day-item {
            width: calc($grid-4x + 4px);
          }

          .day-action {
            padding: calc($grid-2x - 2px) calc($grid-1x + 4px) $grid-1x;
            width: calc(100% - $grid-10x);

            .time-wrapper {
              .timer-picker {
                .MuiSelect-select {
                  padding: calc($grid-1x + 3px) calc($grid-4x - 2px)
                    calc($grid-1x + 3px) calc($grid-1x + 1px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-mobile) {
  .drawer {
    .date-wrapper {
      &.active {        
        border: 1px solid $green750;
        &::before {
          top: calc($grid-7x + 2px);
        }

        &::after {
          top: calc($grid-8x);
        }
      }

      &.startDateBorder {
        border: 1px solid $green750;
      }
    }
    .add-request-section {
      .request-content {
        .day-wrapper {
          .day-action {
            .time-wrapper {
              .time-section {
                width: calc(100% - $grid-4x - 4px);
              }
            }
          }
        }
      }
    }

    button.next-btn,
    button.Preference-next-btn,
    button.submit-btn,
    button.confirm-btn {
      padding: calc($grid-1x - 2px) 0;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-desktop) {
  .drawer {
    .leftPane {
      width: calc(43 * $grid-1x);
      background-color: $white500;
      padding: $grid-5x $grid-1x 0 $grid-2x;

      .MuiDivider-vertical {
        height: $grid-5x;
        margin: calc($grid-2x - 2px) calc($grid-2x - 2px) calc($grid-2x + 2px);
      }
    }

    .rightPane {
      width: calc(100% - 43 * $grid-1x);
      padding: $grid-1x 0 $grid-1x $grid-2x;

      .close {
        margin: calc($grid-1x - 2px) $grid-2x $grid-3x;
      }

      .rightPanelItem {
        position: relative;

        .rightPanelHeight {
          height: 76.5vh;

          .rightPanelItems {
            width: 90%;

            .section-title {
              font-size: 1.333rem;
              margin-bottom: calc($grid-3x + 6px);
            }
          }
        }

        button.next-btn,
        button.Preference-next-btn{
          &.bottom-pref, &.bottom-avail{
            position: absolute;
            bottom: 1%;
            right:10%;
            z-index: 1;
          }
        }
        
        button.confirm-btn {
          position: absolute;
          bottom: $grid-1x;
          right: 7%;
          margin: 0;
        }

        button.next-btn,
        button.Preference-next-btn,
        button.confirm-btn,
        button.submit-btn {
          width: calc(4 * $grid-7x);
        }
      }
    }

    .add-request-section {
      .request-content {
        width: 85%;
        padding: calc($grid-1x + 4px) $grid-2x;
        .day-wrapper {
          .day-item {
            width: $grid-7x;
          }
          .day-action {
            width: calc(100% - $grid-10x - $grid-3x - 3px);
            padding: $grid-2x;
          }
        }
      }
    }

    .val-msg-container{      
      width: 85%;
    }
  }
}

@media only screen and (min-width: $breakpoint-normal-desktop) {
  .simplebar-content-wrapper {
    outline: 0;
  }
  .drawer {
    .leftPane {
      width: calc(9.5 * $grid-6x);
      padding: $grid-6x $grid-3x 0 $grid-4x;
    }

    .rightPane {
      width: calc(100% - 9.5 * $grid-6x);
      padding: $grid-1x 0 $grid-1x $grid-4x;

      .rightPanelItem {
        .rightPanelHeight {
          height: 75.5vh;

          .rightPanelItems {
            width: calc(80 * $grid-1x);

            &.avail-drawer {
              width: calc(89.25 * $grid-1x);

              .statement {
                width: 85%;
              }
            }
          }
        }

        .date-wrapper {
          padding: calc($grid-2x + 4px) calc($grid-1x + 4px);

          &.half-width {
            width: calc(50% - $grid-4x);
          }

          svg {
            width: calc($grid-3x + 4px);
            height: calc($grid-3x + 4px);
          }

          &.active {
            border: 1px solid $green750;
            &::before {
              top: calc($grid-10x + $grid-1x + 2px);
              padding: $grid-1x;
            }

            &::after {
              top: calc($grid-10x + $grid-2x + 1px);
              width: calc($grid-2x + 3px);
            }
          }
          &.startDateBorder {
            border: 1px solid $green750;
          }
        }

        button.next-btn{
          width:calc(44.5 * $grid-1x);
          margin-right: calc($grid-1x - 18px);
          font-size: 1.5rem;
          padding: calc($grid-1x - 4px) 0;
          @include roundCorner($grid-4x);
          &.bottom-pref{
            right:16%;
          }
          &.bottom-avail{
            right:8%;
          }
        }

        button.Preference-next-btn{
          width: calc(44.5 * $grid-1x);
          margin-right: calc($grid-1x - 83px);
          font-size: 1.5rem;
          padding: calc($grid-1x - 4px) 0;
          @include roundCorner($grid-4x);
          &.bottom-pref{
            right:15%;
            margin: calc(28.75 * $grid-1x) calc($grid-1x - 78px) 0px 0px;
          }
          &.bottom-avail{
            right:16%;
          }
        }

        button.submit-btn {
          width: calc(5 * $grid-7x);
          font-size: 1.5rem;
          padding: calc($grid-1x - 4px) 0;
          @include roundCorner($grid-4x);
        }

        button.confirm-btn {
          width: 35%;
          font-size: 1.5rem;
          padding: calc($grid-1x - 4px) 0;
          @include roundCorner($grid-4x);
          right: 25%;
          bottom: 1%;
        }
      }
    }

    .add-request-section {
      .request-content {
        .day-wrapper {
          .day-action {
            .time-wrapper {
              .time-section {
                width: calc(100% - $grid-5x - 2px);
                .timer-picker {
                  max-width: calc(18.75 * $grid-1x);
                }

                .time-divider {
                  width: calc(14.25 * $grid-1x);
                  background: url("../styles/assets/svg/arrow-line.svg")
                    no-repeat;
                  background-position: -$grid-3x 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-large-desktop) {
  .drawer {
    .leftPane {
      width: calc(66 * $grid-1x);
      padding: $grid-8x $grid-3x 0 calc($grid-9x - 2px);
    }

    .rightPane {
      width: calc(100% - 66 * $grid-1x);
      padding: $grid-1x 0 $grid-1x $grid-6x;

      .rightPanelItem {
        .rightPanelHeight {
          height: 78.2vh;

          .rightPanelItems {
            width: calc(83 * $grid-1x);

            &.avail-drawer {
              width: calc($grid-1x * 97.625);
            }
          }
        }

        button.next-btn,
        button.Preference-next-btn {
          width: 31%;
          right: 30%;
          bottom: 1%;
        }
      }
    }

    .add-request-section {
      .request-content {
        width: 85%;
        padding: calc($grid-3x - 2px) calc($grid-3x + 2px);

        .day-wrapper {
          .day-action {
            .time-wrapper {
              .time-section {
                .time-divider {
                  width: calc(17.75 * $grid-1x);
                  background-position: 0 0;
                }
              }
            }
          }
        }
      }
    }

    
  }
}
