@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.drawerA {
  .MuiPaper-root {
    width: calc(5 * $grid-9x);
  }

  h4 {
    background-color: $secondary;
    color: $white;
    padding: $grid-2x;
    font-size: 1.3rem;
  }

  .formWrapper {
    padding: $grid-3x $grid-2x;

    .cancel-btn {
      margin-left: $grid-2x;
    }
  }
}

.rightSection {
  .MuiDataGrid-main {
    .MuiDataGrid-cell {
      button {
        &.view-btn {
          color:$green300
        }
        &.edit-btn {
          color:$orange300
        }
        &.delete-btn {
          color:$red200
        }
      }
    }
  }
}
