@import "../../../styles/variables.scss";
@import "../../../styles/colors";

.footer {
  background-color: $black;
  color:$white;
  h4 {
    font-family: $SodoSansSemiBold;
    font-size: 1.2rem;
    margin-bottom: $grid-1x;
  }

  .socailList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top:$grid-1x;

    li {
      margin-right: $grid-1x;
      a {
        color:$white;
        svg {
          font-size: 2rem;
        }
      }
    }
  }

  .footer-links{
    list-style: disc;

    li{
      margin-bottom: $half-grid;
      margin-left:$grid-2x;
      a{
        display: block;
        color:$white;
        padding:$half-grid 0;
        text-decoration: none;
      }
    }
  }
}
