@import "../../../styles/variables.scss";
@import "../../../styles/colors";

.waySection {
  background-color: $tertiary;
  padding: $grid-2x 0;
  margin:$grid-3x 0;
  h2 {
    color: $white;
  }
  h3{
    font-family: $SodoSans;
    margin: $grid-3x 0;
  }

  .wayImage{
    img{
      width: calc(5 * $grid-10x);
      max-width: 100%;
    }
  }
}
