@import "../../../styles/variables.scss";
@import "../../../styles/colors";

header {
  background-color: $white;
  padding: $grid-1x 0;
  position: relative;

  .topLogo {
    img {
      width: calc(12 * $default-grid);
      margin: 0 auto;
    }
  }

  .toggle-nav {
    padding: $grid-1x;

    svg {
      font-size: 2.5rem;
      color: $black;
    }
  }

  nav {
    ul {
      li {
        list-style: none;
        display: inline;
        margin: 0 $grid-1x;
        a {
          padding: $grid-1x;
          color: $primary-text;
          font-family: $SodoSansSemiBold;
          font-size: 1.1rem;
          text-decoration: none;
          &:hover {
            color: $primary-text-hover;
          }
        }
      }
    }
  }
}

.mobile-nav {
  .MuiPaper-root {
    width: calc(10 * $grid-3x);

    .nav-header{
      background-color: $tertiary;
      padding: $grid-1x;
    }

    nav {
      ul {
        border-top: 1px solid $primary-text;
        font-size: 0;
        li {
          display: block;
          margin: $grid-1x 0;
          border-bottom: 1px solid $primary-text;

          a {
            padding: $grid-1x calc($grid-1x + $half-grid);
            color: $primary-text;
            font-family: $SodoSansSemiBold;
            font-size: 1.2rem;
            display: block;
            text-decoration: none;

            &:hover {
              color: $primary-text-hover;
            }
          }
        }
      }
    }

    .bottomItem{
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  header {
    .topLogo {
      img {
        width: calc(15 * $default-grid);
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-sm-desktop) {
  header {
    .topLogo {
      img {
        width: calc(20 * $default-grid);
        margin: 0;
      }
    }
  }
}
